# mentorship

In [3]:
import pandas as pd
author_df =  pd.read_pickle("/disks/qnap2/shared/scopus_2022/id_names/author_df.pickle")

                   eid      authid  authseq  indexname surname     givenname
2573768    84937805774  7004177269        9  Saviot L.  Saviot  NO GIVENNAME
5320708    34547377413  7004177269        3  Saviot L.  Saviot        Lucien
12704161        308925  7004177269        1  Saviot L.  Saviot  NO GIVENNAME
13675560   34547264074  7004177269        1  Saviot L.  Saviot        Lucien
17386265   84974588351  7004177269        5  Saviot L.  Saviot  NO GIVENNAME
...                ...         ...      ...        ...     ...           ...
313767151     35934202  7004177269        2  Saviot L.  Saviot  NO GIVENNAME
314403727  85068151409  7004177269        4  Saviot L.  Saviot        Lucien
315394386   3843073347  7004177269        1  Saviot L.  Saviot        Lucien
319285224     37091830  7004177269        2  Saviot L.  Saviot        Lucien
322559698      3136427  7004177269        1  Saviot L.  Saviot  NO GIVENNAME

[118 rows x 6 columns]

In [4]:
author_df

,eid,authid,authseq,indexname,surname,givenname
0,85015329278,6506594745,1,Dereli O.,Dereli,Ömer
1,85015329278,55860963200,4,Karakas Sarikaya E.,Karakaş Sarikaya,Ebru
2,85015329278,16175094900,2,Erdogdu Y.,Erdoğdu,Yusuf
3,85015329278,57193622072,3,Ates L.,Ateş,Levent
4,85015329278,57193630639,5,Ozturan F.P.,Özturan,F. Pınar
...,...,...,...,...,...,...
327280824,84927667478,55992760100,3,Chen Z.,Chen,Zihe
327280825,84927667478,56145494500,4,Zheng S.,Zheng,Shijie
327280826,84927667478,25645467300,5,Yang H.,Yang,Hongxia
327280827,84927667478,55816006300,6,Qiu Y.,Qiu,Yiguo
327280828,84927667478,56588512500,7,Lei B.,Lei,Bo

In [9]:
print(author_df.query("authid==7004177269 and eid==77957724278"))
print(author_df.query("authid==57192815318 and eid==77957724278"))

                   eid      authid  authseq  indexname surname givenname
167615046  77957724278  7004177269        1  Saviot L.  Saviot    Lucien
                   eid       authid  authseq              indexname  \
167615047  77957724278  57192815318        6  Marco De Lucas M.D.C.

                  surname         givenname
167615047  Marco De Lucas  María Del Carmen

In [7]:
author_df.loc[167615045:167615047]

,eid,authid,authseq,indexname,surname,givenname
167615045,77957781493,7003873013,7,Canavese F.,Canavese,NO GIVENNAME
167615046,77957724278,7004177269,1,Saviot L.,Saviot,Lucien
167615047,77957724278,57192815318,6,Marco De Lucas M.D.C.,Marco De Lucas,María Del Carmen