# Barabasi example

In [14]:
import pandas as pd
df = pd.read_csv("coauthor_timedistribution.csv")
df = df.iloc[1:,1:-1]
df = df.astype('string')
df

,1990-08-07,1991-10-01,1993-12-01,1994-04-01,1994-06-01,1994-07-04,1995-04-13,1995-04-13.1,1995-05-01,1995-10-01,...,2022-05-24,2022-06-11,2022-09-09,2022-11-30,2023-03-21,2023-04-21,2023-04-24,2023-06-17,2023-07-25,2023-07-27
1,1,1,2,2,2,2,1,1,2,1,...,LAST,LAST,6,LAST,LAST,LAST,LAST,LAST,LAST,LAST
2,0,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
import pandas as pd

def get_natural_number_intervals(series):
    intervals = []
    count_zeros = 1

    for value in series:
        if value == "0":
            count_zeros += 1
        elif count_zeros!="0":
            intervals.append(count_zeros)
            count_zeros = 1

    return intervals

series = pd.Series(["0","1","1","0","0","1"])
print(series.values)
result = get_natural_number_intervals(series)
print(result)

['0' '1' '1' '0' '0' '1']
[2, 1, 3]

In [84]:
import pandas as pd

def find_first_authorship(series):
    for i, value in enumerate(series):
        if value == "1":
            return True
        elif value != "0":
            return False
    return False

# # Example 1
# series1 = ["0", "1", "0", "2", "3", "0", "LAST", "1"]
# result1 = find_first_authorship(series1)
# print(result1)  # Output: 2

# # Example 2
# series2 = ["0", "LAST", "1", "2", "3", "0", "LAST", "0"]
# result2 = find_first_authorship(series2)
# print(result2)  # Output: 3

test =  pd.DataFrame([["0", "1", "0", "2", "3", "0", "LAST", "1"],["0", "LAST", "1", "2", "3", "0", "LAST", "0"]])
test.apply(lambda x :find_first_authorship(x), axis=1)

0     True
1    False
dtype: bool

In [20]:
first = df.apply(lambda x: find_first_authorship(x), axis=1)
first

1       True
2       True
3       True
4       True
5       True
       ...
496    False
497    False
498    False
499    False
500    False
Length: 500, dtype: bool

In [22]:
df['res'] = [None] * len(df)
for (i,d) in df.iterrows():
    result = get_natural_number_intervals(d)
    result.pop()
    df.at[i,"res"] = result
df

,1990-08-07,1991-10-01,1993-12-01,1994-04-01,1994-06-01,1994-07-04,1995-04-13,1995-04-13.1,1995-05-01,1995-10-01,...,2022-06-11,2022-09-09,2022-11-30,2023-03-21,2023-04-21,2023-04-24,2023-06-17,2023-07-25,2023-07-27,res
1,1,1,2,2,2,2,1,1,2,1,...,LAST,6,LAST,LAST,LAST,LAST,LAST,LAST,LAST,"[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ..."
2,0,0,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,"[3, 3, 3, 2]"
3,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[4, 1]"
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[13]
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[14, 2, 3, 9, 2, 6, 1, 2, 8, 4, 2, 1, 96, 1]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
496,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,"[82, 6]"
497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[13]
498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[114]
499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[114]
500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,[97]

In [31]:
df_first = df[first]
df_notfirst = df[~first]

In [8]:
from util import plotter
import matplotlib.pyplot as plt
import numpy as np

res = df["res"].explode()
res_first = df_first["res"].explode()
res_notfirst = df_notfirst["res"].explode()

bin = res.max()

# ヒストグラムの描画
# counts, bins, _ = plt.hist(res, bins=bin, color='blue', alpha=0.4, density=True, label='データ分布')
counts_first, bins_first, _ = plt.hist(res_first, bins=bin, color='red', alpha=0.2, density=True, label='First-first')
counts_notfirst, bins_notfirst, _ = plt.hist(res_notfirst, bins=bin, color='blue', alpha=0.2, density=True, label='non-first')

# 累積分布関数 (CDF) の計算
# cumulative = np.cumsum(counts * np.diff(bins))
cumulative_first = np.cumsum(counts_first * np.diff(bins_first))
cumulative_notfirst = np.cumsum(counts_notfirst * np.diff(bins_notfirst))


# 相補累積分布関数 (CCDF) の計算
# ccdf = 1 - cumulative
ccdf_first = 1 - cumulative_first
ccdf_notfirst = 1 - cumulative_notfirst

# CCDFの描画
# plt.plot(bins[:-1], ccdf, color='black', label='相補累積分布関数 (CCDF)')
plt.plot(bins_first[:-1], ccdf_first, color='red', label='First-first-CCDF')
plt.plot(bins_notfirst[:-1], ccdf_notfirst, color='blue', label='nonfirst-CCDF')
plt.xscale('log')
plt.yscale('log')
plt.ylim(0.001,1)
# plt.legend()

plt.title('Barabasi Coauthorship intervals')
plt.xlabel('Coauthorship interval [papers]')
plt.ylabel('Probability')

plt.show()

NameError: name 'df' is not defined